<hr>
<h2>{{fa-icon "fa-calendar-plus-o"}} My Shows</h2>

<p>
  Anywhere you see a calendar icon attached to a show, just click/tap on it and that show
  will be added to your custom list of shows here on the home page. This will make it easy
  for you to keep track of the shows you want to see.
</p>


{{#if myShows.shows.length}}
  <ol class="no-bullets">
  {{#each myShows.shows as |event|}}
    <li class='small-12 columns accordion event-row' data-talk-id={{event.id}} data-event-row-id={{event.id}}>
      <div class="row small-collapse medium-uncollapse">

        <div class="band-name small-7 medium-5 columns" onclick={{action "chooseTalk"}}>
          <h3 data-event-id={{event.id}}>{{event.bandName}}</h3>
          {{!is-interested-button talkId=talk.id}}
        </div>
        <div class="stage-name small-5 medium-3 columns" onclick={{action "chooseTalk"}}>
          <h5>{{event.stageName}}</h5>
          {{!is-interested-button talkId=talk.id}}
        </div>
        <div class="event-time small-9 medium-3 columns" onclick={{action "chooseTalk"}}>
          <h5>{{event.day}} - <span class="time">{{event.time}}</span></h5>

        </div>
        <div class="event-time small-3 medium-1 columns" onclick={{action "removeShow" event}}>
          <h3 class="remove">{{fa-icon "fa-calendar-times-o"}}</h3>
        </div>
      </div>
    </li>
  {{/each}}
  </ol>
{{else}}
  Mark the shows you want to see and we'll keep track of them here!
{{/if}}
{{yield}}
<hr>
